body {
    background: rgb(202, 220, 228);
    font-family: lato;
    margin: 80px 100px 100px 150px;
}

div {
    width: 580px;
    padding: 0px;
}

ol li {
    color: red;
}

ul li {
    padding: 5px;
}


.parent {
    color: indigo;
    font-weight: bold;
}